{% block home %}
	<div class="homeConter">
		<div class="title">
		<h3>Bienvenidos al Sistema para presentar Examenes de la Universidad tecnologica</h3>
		<p>por favor elige el examen que deseas realizar</p>
		</div>
		<div class="contentBtn">
		<a href="/propedeutico">
			<button class="button btnPropedeutico">
				Examen Propedeutico
				<div class="button__horizontal"></div>
				<div class="button__vertical"></div>
			</button>
		</a>
		<a href="#">
			<button class="button btnParticular">
				Examen Regular
				<div class="button__horizontal"></div>
				<div class="button__vertical"></div>
			</button>
		</a>
		</div>
	</div>
{% endblock %}
